.result-screen {
  width: 100%;
  height: 350px;
  padding: 48px 24px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 8px;
  border-bottom: 0.5px solid #fca2a2;
}

.result-screen__task {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 24px;
  font-weight: 400;
  color: #ffacac;
}

.result-screen__result {
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 64px;
  font-weight: 500;
  color: #fff;
}
