.nums {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(4, 90px);
}

.nums__item {
  background-color: transparent;
  border: none;
  padding: 25px;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
}

.nums__item:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.nums__item:active {
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: none;
}
