.nums {
  display: grid;
  grid-template-columns: repeat(3, 90px);
  grid-template-rows: repeat(4, 90px);
  grid-area: numbers;
}

.nums__item {
  background-color: transparent;
  border: none;
  padding: 25px;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  font-weight: 500;
  box-sizing: border-box;
  width: 90px;
  height: 90px;
}

.button:hover {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
}

.button:active {
  box-shadow: inset 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  border: none;
}
